@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*,*::before, *::after{
  box-sizing:border-box;
}
html{
  font-size:10px;
}
body{
  font-size:1.6rem; 
  background-color: #ffF;
  color:#181818;
  font-family: 'Spoqa Han Sans';
  font-weight:400;
}
/* 레이아웃 */
.container{
  background-color: #fff;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}
.header,.visual,.main,.slogan,.footer{
  width: 940px;
  box-sizing:border-box;
}
.footer-bg{
  align-self: stretch;
  display:flex;
  justify-content: center;
}
.footer{
}

.header{
  background-color: yellow;
}
.visual{
  background-color: lime;
  height:120px;
}
/* 메인 콘텐츠 */
.main{
  background-color: Blue;
  min-height: 450px;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  padding:30px;
  align-items: flex-start;
}
.group1{
  background-color: pink;
  width:250px;
}
.group2{
  background-color: lightgreen;
  width:380px;
}
.group3{
  background-color: coral;
  width:190px;
}
.slogan{
  background-color: orange;

}
.footer-bg{
  background-color: purple;
}
.footer{
  background-color: skyblue;
}